.container-pokemons{
    height: 100%;
    width: 100%;
    margin-left: 0.18rem;
    
}
h3{
    text-align: center;
    font-family: fantasy;
}
h4{
    padding: 5%;
}
.container-pokemon{
    text-align: center;
    font-family: fantasy;
    
    
}
.container-pokemon1{
    margin: 0.5rem;
    background-color: rgba(0, 0, 0);
    border-radius: 0.5rem;
    color: rgb(230, 216, 22);
}
.img{
    z-index: 1;
}
.img:hover{
    background-color: rgba(32, 31, 31, 0.856);
    transition:all .5s ease-in-out;
}
.poke-num{
    text-align: right;
    padding-right: 10%;
}
