<br>
<h3>Detalle del Pokémon</h3>
<br>
<div class="row box-detalle">

  <div class="col-12 box-detalle1">
    <div class="row">
      <div class="col-6">
        <div>
          Nombre:
        </div>
        <div>
          Descripción:
        </div>
        <ul>
          Tipo:
        </ul>

      </div>
      <div class="col-6">
        <h4>Evolución</h4>
        <div>Nombre:</div>
        <div>Imagen:</div>
        <div>Nivel</div>
        <div>Método:</div>
      </div>
    </div>
  </div>

</div>
<br>