<div class="row d-flex bg-dark text-white pt-5 jumbotron jumbotron-fluid text-justify footer-propio">

  <div class="col-6 col-pos">
    <p><strong>Contacto</strong></p>
    <p>anthony.chacin@correo.unimet.edu.ve</p>
    <p>0416 711 37 55</p>
    <p>arantxa.garcia@correo.unimet.edu.ve</p>
    <p>0412 080 66 25</p>
  </div>

  <div class="col-6 col-pos">
    <p><strong>Pokémon</strong></p>
    <p><strong>Categorías</strong></p>
    <p>Juegos</p>
    <p>&copy; 2018 Pokémon. Todos los derechos reservados.</p>
  </div>
</div>